<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-10-14T20:53:28Z</date>
	<key>WorkspacePath</key>
	<string>/Users/stevevarga/Desktop/Cinder/blocks/Cinder-Typography/_testing/FreetypeBasicLoading/xcode/FreetypeBasicLoading.xcodeproj</string>
</dict>
</plist>
